@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "Satoshi_Italic";
  src: url("/fonts/Satoshi-VariableItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
}
