---
import Layout from "@/layouts/Layout.astro";
import PattternBG from "@/components/PatternBG.astro";
import Navbar from "@/components/Navbar.astro";
import IndexGrid from "@/components/IndexGrid.astro";
---

<Layout title="Eco_Page.">
  <main>
    <nav id="navbar" class="hidden fixed w-full top-12 clear:hidden tablet:block transition-all duration-500">
      <Navbar class="max-w-fit mx-auto"/>
    </nav>
    <PattternBG>
      <div id="Inicio" class="min-h-screen grid place-content-center">
        <IndexGrid/>
      </div>
    </PattternBG>
    <div id="SobreMi" class="h-[2000px]">

    </div>
  </main>
</Layout>

<style>
  .hidden {
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.5s;
  }
</style>

<script>
  let navbar: HTMLElement | null = document.getElementById('navbar');

  window.addEventListener('scroll', function() {
    let currentScroll: number = window.scrollY || document.documentElement.scrollTop;

    if(currentScroll >= 700) {
      navbar?.classList.remove("hidden")
    }

    if(currentScroll < 800) {
      navbar?.classList.add("hidden")
    }
  }, false);
</script>