---
import Layout from "@/layouts/Layout.astro";
import PattternBG from "@/components/PatternBG.astro";
import Navbar from "@/components/Navbar.astro";
import IndexGrid from "@/components/Cards/IndexGrid.astro";
import LanguageSelector from "@/components/LanguageSelector.astro";
import Logo from "@/components/Logo.astro";
import WIP from "@/components/WIP.astro";
import { Des } from "@/lib/constants";
---

<Layout title="Eco_Page." description={Des.main}>
  <main>
    <div id="lang" class="relative flex justify-between md:justify-end pt-3 pl-3 pr-3 z-50 transition-all duration-300">
      <div class="flex items-center">
        <Logo class="w-7 block md:hidden"/>
      <p class="pl-3 font-satoshi font-bold block md:hidden"> Eco_Jrsg</p>
      </div>
      <LanguageSelector/>
    </div>
    <nav id="navbar" class="fixed w-full top-12 hidden md:block transition-all duration-300 z-50">
      <Navbar class="max-w-fit mx-auto"/>
    </nav>
    <PattternBG>
      <div id="Inicio" class="min-h-[90vh] grid place-content-center">
        <IndexGrid/>
      </div>
    </PattternBG>
    <div id="WIP" class="flex justify-center pt-56">
      <WIP/>
    </div>
    <div class="h-[400px]">

    </div>
  </main>
</Layout>

<style>
  .hidden {
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
  }
</style>

<script is:inline data-astro-rerun>
  var navbar = document.getElementById("navbar")
  var lang = document.getElementById("lang")

  window.addEventListener('scroll', function() {
    let currentScroll = window.scrollY || document.documentElement.scrollTop;

    if(currentScroll >= 700) {
      navbar?.classList.remove("hidden")
      lang?.classList.add("hidden")
    }

    if(currentScroll < 700) {
      navbar?.classList.add("hidden")
      lang?.classList.remove("hidden")
    }
  }, false);
</script>