---
import Layout from "@/layouts/Layout.astro";
import PattternBG from "@/components/PatternBG.astro";
import Navbar from "@/components/Navbar.astro";
import IndexGrid from "@/components/IndexGrid.astro";
import LanguageSelector from "@/components/LanguageSelector.astro";
---

<Layout title="Eco_Page.">
  <main>
    <div id="lang" class="clear:hidden tablet:block transition-all duration-500 fixed px-4 py-2 right-12 top-10" transition:name="lang">
      <LanguageSelector/>
    </div>
    <nav id="navbar" class="hidden fixed w-full top-12 clear:hidden tablet:block transition-all duration-500" transition:name="nav">
      <Navbar class="max-w-fit mx-auto"/>
    </nav>
    <PattternBG>
      <div id="Inicio" class="min-h-screen grid place-content-center">
        <IndexGrid/>
      </div>
    </PattternBG>
    <div id="SobreMi" class="h-[2000px]">

    </div>
  </main>
</Layout>

<style>
  .hidden {
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.5s;
  }
</style>

<script is:inline data-astro-rerun>
  var navbar = document.getElementById("navbar")
  var lang = document.getElementById("lang")

  window.addEventListener('scroll', function() {
    let currentScroll = window.scrollY || document.documentElement.scrollTop;

    if(currentScroll >= 700) {
      navbar?.classList.remove("hidden")
      lang?.classList.add("hidden")
    }

    if(currentScroll < 700) {
      navbar?.classList.add("hidden")
      lang?.classList.remove("hidden")
    }
  }, false);
</script>