---
import Layout from "@/layouts/Layout.astro";
import Logo from "@/components/Logo.astro";
---

<Layout title="Eco_Page_404">
    <div class="h-screen w-screen flex flex-col justify-center items-center">
        <Logo class="w-56 md:w-80 transition-all    "/>
        <h2 class="p-10 font-cabinet font-bold text-3xl md:text-5xl text-center">404 <br class="inline md:hidden"> Pague not found</h2>
    </div>
</Layout>