---
import Layout from "../layouts/Layout.astro";
import PattternBG from "../components/PatternBG.astro";
import Glass from "../components/Glass.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <PattternBG>
      <div class="min-h-screen grid place-content-center">
        <Glass></Glass>
      </div>
    </PattternBG>
  </main>
</Layout>