---
import Glass from "@/components/Glass.astro"
---


<button>
    <Glass class="inline-block p-3 shadow-social-btn active:shadow-clear-shadow cursor-pointer active:translate-x-[3px] active:translate-y-[3px] hover:text-Eco-20">
        <slot/>
    </Glass>
</button>