---
interface Props {
  class?: string 
}
---

<div
class="bg-Eco-60 bg-opacity-20 p-6 rounded-xl shadow-2xl shadow-Eco-Shadow-50 backdrop-blur-[2px] border-Eco-50 border-2 border-opacity-50"
>
  <slot />
</div>
