---
import CardMain from "@/components/CardMain.astro"
import AboutCard from "@/components/AboutCard.astro"
---

<div class="grid grid-cols-4">
    <div class="w-fit col-span-3">
        <CardMain/>
    </div>
    <div>
        <AboutCard/>
    </div>
</div>