---
import Glass from "@/components/Glass.astro"
import Logo from "@/components/Logo.astro"
import Link from "@/components/Link.astro"
import LanguageSelector from "@/components/LanguageSelector.astro"

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
    class?: string 
}

const {class: className} = Astro.props
---

<main class={className}>
    <Glass class="p-6 shadow-eco-shadow">
        <div class="flex justify-between items-center">
            <div class="px-2">
                <Link href="/">
                    <Logo class="w-12"/>
                </Link>
            </div>
            <div class=" flex justify-end desktop:pl-64 transition-all">
                <Link href="#Inicio" class="px-2 hover:text-xl transition-all">
                    <span>{t("nav.home")}</span>
                </Link>
                <Link href="#SobreMi" class="px-2 hover:text-xl transition-all">
                    <span>{t("nav.about")}</span>
                </Link>
                <Link href="/" class="px-2 hover:text-xl transition-all">
                    <span>{t("nav.team")}</span>
                </Link>
                <Link href="/" class="px-2 hover:text-xl transition-all">
                    <span>{t("nav.skills")}</span>
                </Link>
                <Link href="/" class="px-2 hover:text-xl transition-all">
                    <span>{t("nav.contac")}</span>
                </Link>
            </div>
            <div class="flex items-center">
                <p class="px-4">
                    |
                </p>
                <Link href="/" class="px-2 hover:text-xl transition-all">
                    <span>{t("nav.blog")}</span>
                </Link>
            </div>
            <div class="flex items-center">
                <p class="px-4">
                    |
                </p>
                <LanguageSelector/>
            </div>
        </div>
    </Glass>
</main>