---
---

<main>
    <div class="overflow-hidden pt-2" style="mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%)">
        <div class="slide-track flex animate-slide w-calc-slider">
            <div class="slide w-[100px]">
                <img src="/logos/Js.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/Ts.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/Node.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/Python.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/Sql.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/React.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/NestJS.svg" alt="" class="w-14">
            </div>

            <div class="slide w-[100px]">
                <img src="/logos/Js.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/Ts.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/Node.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/Python.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/Sql.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/React.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/NestJS.svg" alt="" class="w-14">
            </div>

            <div class="slide w-[100px]">
                <img src="/logos/Js.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/Ts.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/Node.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/Python.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/Sql.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/React.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/NestJS.svg" alt="" class="w-14">
            </div>

            <div class="slide w-[100px]">
                <img src="/logos/Js.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/Ts.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/Node.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/Python.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/Sql.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/React.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/NestJS.svg" alt="" class="w-14">
            </div>

            <div class="slide w-[100px]">
                <img src="/logos/Js.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/Ts.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/Node.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/Python.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/Sql.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/React.svg" alt="" class="w-14">
            </div>
            <div class="slide w-[100px]">
                <img src="/logos/NestJS.svg" alt="" class="w-14">
            </div>
        </div>
    </div>
</main>