---
// Layout para el repo y el blog
import Logo from "@/components/Logo.astro";
import Layout from "@/layouts/Layout.astro";

type Props = {
  frontmatter: {
    menu: string[][]
  }
}

const { frontmatter } = Astro.props;
---

<Layout title="">
  <div class="cabeza h-[400px] flex flex-col gap-6 items-center justify-center">
    <Logo class="w-24 opacity-80"/>
    <h1 class="text-6xl font-cabinet font-normal">Eco Arquitectura</h1>
    <h2 class="font-satoshi font-thin opacity-80">Una nueva forma de crear tus paginas</h2>
  </div>
  <div class="w-full p-20 grid place-content-center">
    <div class="w-[50vw] grid grid-cols-4">
      <div>
        <ul>
          {frontmatter.menu.map((elemento) => {
            return (
              <a href={`#${elemento[1]}`}>
                <li>{elemento[0]}</li>
              </a>
            )
          })}
        </ul>
      </div>
      <div class="MD col-span-3">
          <slot/>
      </div>
    </div>
  </div>
</Layout>

<style>
  .cabeza {
    background-image:url('https://survey.stackoverflow.co/legacy-assets/insights/Img/svg-icons/Survey2019/headere7f2.svg?v=055a335639c2');
    background-size: cover;
    background-position: center 400px;
  }
</style>
